{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
<li id="breadcrumb-menu-home">{% spaceless %}
<a href="{% url "home" %}">{% trans "Home" %}</a>
<span class="divider">/</span>{% endspaceless %}
</li>
<li id="breadcrumb-menu-projects">{% spaceless %}
<a href="{% url "blog_post_list_category" "projects" %}">Projects</a>
<span class="divider">/</span>
{% endspaceless %}
</li>
</li>
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<div class="featured_image pagination-centered">
<img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 500 0 %}">
</div>
{% endif %}
{% endblock %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% endblock %}
