{% extends "base.html" %}
{% load i18n latitude_tags humanize %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<p class="lead">
Hello! I'm Melissa and this is my site. I'm a <a href="http://annenberg.usc.edu/Faculty/Doctoral%20Students/Loudon_Melissa.aspx">
PhD student</a> at 
<a href="http://annenberg.usc.edu/">USC's Annenberg School for Communication and Journalism</a>, although I'm at the point where I'm not on campus all that often. 
I also do occasional consulting and I build things, mostly with Python.</p>
<p>
My dissertation is going to be about innovation in the non-smartphone mobile services ecosystem and I am going to finish it on time, I swear.
</p>
<p>
Before, I worked at the <a href="www.uct.ac.za">University of Cape Town</a> in what is now the <a href="http://www.icomms.org/">iComms research group</a>, did an MSc in ICTs for Development
at the <a href="http://www.manchester.ac.uk/">University of Manchester</a>, worked at <a href="www.cell-life.org">Cell-Life</a> on the <a href="http://www.cell-life.org/systems/dispense-idart/">iDart open source pharmacy management system</a>, and, way back before Google Earth was a thing,
did an undergraduate degree in Geoinformatics and Computer Science at the University of Cape Town.  
</p>
<p>
Things will be appearing here periodically. 
In this issue: writing (academic), writing (code), Linux, Python/Django, mobile security, GIS, network analysis in R,
and that sweet little Latitude Public Location Widget that hopefully stops just short of fulfilling your stalk-y desires.
</p>
{% endblocktrans %}
{% endblock %}

{% block right_panel %}
    <div class="latitude_map pagination-centered">
    {% get_latitude_data -5837038647041021297 %}
    <p class="text-info">Last seen in {{latitude_data.loc_name}}</p>
    <img src ="http://maps.googleapis.com/maps/api/staticmap?zoom=10&size=200x200&sensor=false&visual_refresh=true&markers=color:pink|{{latitude_data.coords_lat}},{{latitude_data.coords_lon}}" alt="find me here!">
	<p class="text-info">{{latitude_data.lastseen | naturalday | title}}</p>
	</div>
{% endblock %}
