{% extends "base.html" %}
{% load i18n latitude_tags humanize staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<p class="lead">
Hello! I'm Melissa. I'm a software engineer specializing in data engineering, data analysis and backend development.
</p>
<p>I also build things for fun - current bad habits include LEDs, arduinos and fake fur.</p>
<p>
I completed my PhD at the <a href="http://annenberg.usc.edu/">USC Annenberg School</a> in August 2015. My research interests are in the general area of technology and society, with a particular focus on mobile technology in the developing world. I've also published on social movements, and digital rights/tech policy activism.
</p>
<p>
Before my PhD, I worked at the University of Cape Town on a mobile data collection project, did an MSc in ICTs for Development at the University of Manchester, worked at Cell-Life on technologies for managing the HIV/AIDS epidemic, and, in a world before Google Earth, did an undergraduate degree in Geoinformatics and Computer Science. </p>
{% endblocktrans %}
{% endblock %}

{% block right_panel %}
    <div class="latitude_map pagination-centered">
    <p class="text-info">Last seen in {{last_seen_loc_name}}</p>
    <img src ="http://maps.googleapis.com/maps/api/staticmap?zoom=10&size=200x200&sensor=false&visual_refresh=true&markers=color:pink|{{coords_lat}},{{coords_lon}}" alt="find me here!">
	<p class="text-info">{{last_seen_time | naturalday | title}}</p>
	</div>
{% endblock %}
